name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - next
      - beta
      - alpha
      - "*.x"

permissions:
  contents: read # for checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint and formatting
        run: bun run biome ci

      - name: Run test and coverage
        run: bun test --coverage
